<a href="https://colab.research.google.com/github/aryasovaalexandra/praktika/blob/main/%D0%97%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5!1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Задание по практике 1

##Загрузка датасета
В файле classification datasets расположены ссылки на датасеты. Выберите один в соответствии со своим вариантом, скачайте и прочитайте файл

**Не забудьте загрузить нужные библиотеки**

Например: pip3 install pandas

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/crimes_against_women_2001-2014.csv')
df

,Unnamed: 0,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
0,0,ANDHRA PRADESH,ADILABAD,2001,50,30,16,149,34,175,0
1,1,ANDHRA PRADESH,ANANTAPUR,2001,23,30,7,118,24,154,0
2,2,ANDHRA PRADESH,CHITTOOR,2001,27,34,14,112,83,186,0
3,3,ANDHRA PRADESH,CUDDAPAH,2001,20,20,17,126,38,57,0
4,4,ANDHRA PRADESH,EAST GODAVARI,2001,23,26,12,109,58,247,0
...,...,...,...,...,...,...,...,...,...,...,...
10672,832,Lakshadweep,Lakshadweep,2014,1,0,0,1,2,0,0
10673,833,Lakshadweep,Total District(s),2014,1,0,0,1,2,0,0
10674,834,Puducherry,Karaikal,2014,3,1,0,12,1,1,0
10675,835,Puducherry,Puducherry,2014,7,6,1,20,7,3,0
10676,836,Puducherry,Total District(s),2014,10,7,1,32,8,4,0

##Первое знакомство с датасетом
В следующих ячейках выведите:


1.   Колонки датасета
2.   Первые 5 значений
3.   Последние 5 значений
4.   Статистику по числовым колонкам

In [ ]:
df.columns

Index(['Unnamed: 0', 'STATE/UT', 'DISTRICT', 'Year', 'Rape',
       'Kidnapping and Abduction', 'Dowry Deaths',
       'Assault on women with intent to outrage her modesty',
       'Insult to modesty of Women', 'Cruelty by Husband or his Relatives',
       'Importation of Girls'],
      dtype='object')

In [ ]:
df.head(5)

,Unnamed: 0,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
0,0,ANDHRA PRADESH,ADILABAD,2001,50,30,16,149,34,175,0
1,1,ANDHRA PRADESH,ANANTAPUR,2001,23,30,7,118,24,154,0
2,2,ANDHRA PRADESH,CHITTOOR,2001,27,34,14,112,83,186,0
3,3,ANDHRA PRADESH,CUDDAPAH,2001,20,20,17,126,38,57,0
4,4,ANDHRA PRADESH,EAST GODAVARI,2001,23,26,12,109,58,247,0

In [ ]:
df.tail(5)

,Unnamed: 0,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
10672,832,Lakshadweep,Lakshadweep,2014,1,0,0,1,2,0,0
10673,833,Lakshadweep,Total District(s),2014,1,0,0,1,2,0,0
10674,834,Puducherry,Karaikal,2014,3,1,0,12,1,1,0
10675,835,Puducherry,Puducherry,2014,7,6,1,20,7,3,0
10676,836,Puducherry,Total District(s),2014,10,7,1,32,8,4,0

In [ ]:
df.describe()

,Unnamed: 0,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
count,10677.000000,10677.000000,10677.000000,10677.000000,10677.000000,10677.000000,10677.000000,10677.000000,10677.000000
mean,3871.570198,2007.697949,57.989885,69.888358,20.181699,113.539196,27.419313,209.224314,0.175330
std,2816.369918,4.046874,214.230398,311.623450,98.276531,458.903951,167.806797,905.664362,2.228637
min,0.000000,2001.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1009.000000,2004.000000,8.000000,6.000000,1.000000,10.000000,0.000000,11.000000,0.000000
50%,3678.000000,2008.000000,22.000000,20.000000,5.000000,34.000000,2.000000,50.000000,0.000000
75%,6347.000000,2011.000000,44.000000,49.000000,16.000000,85.000000,12.000000,144.000000,0.000000
max,9016.000000,2014.000000,5076.000000,10626.000000,2469.000000,10001.000000,4970.000000,23278.000000,83.000000

**Ответьте на следующие вопросы:**


1.   Какие средние значения в каждой числовой колонке вашего датасета?
2.   Минимальные и максимальные значения в каждой числовой колонке вашего датасета



1.   **mean**	3871.570198	2007.697949	57.989885	69.888358	20.181699	113.539196	27.419313	209.224314	0.175330
2.   **min**	0.000000	2001.000000	0.000000	0.000000	0.000000	0.000000	0.000000	0.000000	0.000000
**max**	9016.000000	2014.000000	5076.000000	10626.000000	2469.000000	10001.000000	4970.000000	23278.000000	83.000000

##Типизация
Присвойте соответствующим колонкам один из типов (category, float, int)

In [ ]:
df['Insult to modesty of Women'] = df['Insult to modesty of Women'].astype(float)

df.DISTRICT = df.DISTRICT.astype("category")

df.Rape= df.Rape.astype("int")
df.info()
#Вывести типы колонок тут

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10677 entries, 0 to 10676
Data columns (total 11 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Unnamed: 0                                           10677 non-null  int64
 1   STATE/UT                                             10677 non-null  object
 2   DISTRICT                                             10677 non-null  category
 3   Year                                                 10677 non-null  int64
 4   Rape                                                 10677 non-null  int64
 5   Kidnapping and Abduction                             10677 non-null  int64
 6   Dowry Deaths                                         10677 non-null  int64
 7   Assault on women with intent to outrage her modesty  10677 non-null  int64
 8   Insult to modesty of Women                           10677 non-null  float64
 9   Cruelty by Husband or his Relatives                  10677 non-null  int64
 10  Importation of Girls                                 10677 non-null  int64
dtypes: category(1), float64(1), int64(8), object(1)
memory usage: 932.2+ KB

In [ ]:
DISTRICT категориальный, Assault on women with intent to outrage her modesty числовой количественный, Dowry Deaths числовой,Rape числовой,
 в моем датасете нет прям отдельных данных, которые можно было бы назвать порядковыми, поэтому Unnamed: 0
 	я возьму как числовой-порядковый

Какие признаки вы можете выделить в своем датасете (категориальные, числовые и др., **минимум 3 разных**, помните что можно также выделить признаки более точно, например числовые - порядковые, количественные и т.д.)?

##Фильтрация
Офильтруйте 3 колонки вашего датасета и выведите результат

In [ ]:
#Фильтр колонки 1
df[df["Year"] > 2008]

,Unnamed: 0,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
5869,5869,ANDHRA PRADESH,ADILABAD,2009,67,56,13,192,163,428,0
5870,5870,ANDHRA PRADESH,ANANTAPUR,2009,22,60,14,157,13,143,0
5871,5871,ANDHRA PRADESH,CHITTOOR,2009,33,46,19,120,268,333,0
5872,5872,ANDHRA PRADESH,CUDDAPAH,2009,27,47,17,165,52,124,0
5873,5873,ANDHRA PRADESH,CYBERABAD,2009,82,113,46,173,155,991,0
...,...,...,...,...,...,...,...,...,...,...,...
10672,832,Lakshadweep,Lakshadweep,2014,1,0,0,1,2,0,0
10673,833,Lakshadweep,Total District(s),2014,1,0,0,1,2,0,0
10674,834,Puducherry,Karaikal,2014,3,1,0,12,1,1,0
10675,835,Puducherry,Puducherry,2014,7,6,1,20,7,3,0
10676,836,Puducherry,Total District(s),2014,10,7,1,32,8,4,0

In [ ]:
#Фильтр колонки 2
df[df["Insult to modesty of Women"] < 120]

,Unnamed: 0,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
0,0,ANDHRA PRADESH,ADILABAD,2001,50,30,16,149,34,175,0
1,1,ANDHRA PRADESH,ANANTAPUR,2001,23,30,7,118,24,154,0
2,2,ANDHRA PRADESH,CHITTOOR,2001,27,34,14,112,83,186,0
3,3,ANDHRA PRADESH,CUDDAPAH,2001,20,20,17,126,38,57,0
4,4,ANDHRA PRADESH,EAST GODAVARI,2001,23,26,12,109,58,247,0
...,...,...,...,...,...,...,...,...,...,...,...
10672,832,Lakshadweep,Lakshadweep,2014,1,0,0,1,2,0,0
10673,833,Lakshadweep,Total District(s),2014,1,0,0,1,2,0,0
10674,834,Puducherry,Karaikal,2014,3,1,0,12,1,1,0
10675,835,Puducherry,Puducherry,2014,7,6,1,20,7,3,0
10676,836,Puducherry,Total District(s),2014,10,7,1,32,8,4,0

In [ ]:
#Фильтр колонки 3
df[df["Dowry Deaths"] > 30]

,Unnamed: 0,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
8,8,ANDHRA PRADESH,KARIMNAGAR,2001,56,49,62,414,81,224,0
14,14,ANDHRA PRADESH,NALGONDA,2001,35,19,31,188,59,214,0
18,18,ANDHRA PRADESH,RANGA REDDY,2001,72,83,37,113,55,421,7
26,26,ANDHRA PRADESH,WARANGAL,2001,53,25,52,241,0,165,0
28,28,ANDHRA PRADESH,TOTAL,2001,871,765,420,3544,2271,5791,7
...,...,...,...,...,...,...,...,...,...,...,...
10622,782,West Bengal,Hooghly,2014,45,213,34,222,6,1338,0
10631,791,West Bengal,Murshidabad,2014,252,457,36,523,16,2439,0
10632,792,West Bengal,Nadia,2014,106,336,50,181,8,1827,1
10640,800,West Bengal,Total District(s),2014,1466,4976,501,5670,543,23278,4
10671,831,Delhi UT,Total District(s),2014,2096,4034,153,4322,1361,3173,0

##Группировка
Сгруппируйте датасет по какому-либо категориальному признаку и выведите среднее значение численных колонок (см. метод mean в pandas)

In [3]:
#df.groupby(["DISTRICT"]).mean()
df.groupby(['DISTRICT']).mean(numeric_only=True)
#df["DISTRICT"].mean()

,Unnamed: 0,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
DISTRICT,,,,,,,,,
24 PARGANAS NORTH,4426.000000,2007.0,153.692308,203.692308,55.230769,171.230769,4.230769,1474.000000,0.615385
24 PARGANAS SOUTH,4427.000000,2007.0,185.384615,193.615385,53.153846,126.923077,1.615385,1588.461538,0.230769
A and N ISLANDS,5080.000000,2007.0,3.000000,9.000000,1.000000,21.000000,2.000000,18.000000,0.000000
ADILABAD,3725.384615,2007.0,56.384615,47.461538,15.384615,152.461538,106.153846,353.076923,0.000000
AGAR,355.000000,2013.0,24.000000,8.000000,1.000000,41.000000,1.000000,30.000000,0.000000
...,...,...,...,...,...,...,...,...,...
Yamunanagar,213.000000,2014.0,50.000000,82.000000,7.000000,76.000000,0.000000,170.000000,0.000000
Yavatmal,450.000000,2014.0,108.000000,135.000000,12.000000,466.000000,504.000000,301.000000,0.000000
ZUNHEBOTO,4185.846154,2007.0,1.384615,0.461538,0.000000,0.000000,0.000000,0.000000,0.000000
ZZ TOTAL,483.228571,2013.0,963.057143,1482.314286,230.942857,2021.114286,359.685714,3396.171429,0.885714
Zunheboto,495.000000,2014.0,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

##Задание для гениев *
Агрегируйте числовой признак по категориальному признаку с использованием метода **без использования** библиотеки pandas, и вычислите медиану и среднее значение для каждой категории.

In [ ]:
#Агрегация